import React from 'react';
import { storiesOf } from '@storybook/react';

import Album from './Album';
import { AlbumList } from './CoverView';

export const exampleAlbum = {
  activeAlbum: false,
  albumId: '4eLPsYPBmXABThSJ821sqY',
  artist: 'Kendrick Lamar',
  coverImage: 'https://i.scdn.co/image/f2e751ee3dbfec80737094585f59a76806a51797',
  selectedAlbum: '0',
  title: 'DAMN.'
}

storiesOf('Album', module)
  .addDecorator(story => <AlbumList>{story()}</AlbumList>)
  .add('default', () => <Album {...exampleAlbum} />)
  .add('active', () => <Album {...exampleAlbum} activeAlbum='true' />);