.control-panel
  transition width 0.2s ease-out
  height 100vh
  float left
  width 75px
  padding 1rem
  overflow scroll
  background-color rgb(245, 149, 75)
  color white
  &:hover
    transition width 0.2s ease-out
    width 25%
    *
      transition opacity 0.75s ease-in
      opacity 1
    span
      display none
  *
    opacity 0